#top {
	display: block;
	text-align: left;
	height:25px;
	position: relative;
	z-index: 0;
}
.m {
	margin:0 auto;
	width: 100%;
}
body {
	font-size:12px;
	margin:0;
	padding:0px;
}
a {
	color:#333;
	text-decoration: none;
}
a:link {
	color:#FFF
	text-decoration: none;
}
a.blue:link, a.blue:visited {
	color: #014cc9;
	text-decoration: none;
}
a.blue:hover, a.blue:active {
	color: #014cc9;
	text-decoration: underline;
}
a.org:link, a.org:visited {
	color: #0076fa;
	text-decoration: none;
}
a:hover, a:active, a.org:hover, a.org:active {
	color: #0076fa;
	text-decoration: none;
}
/* NAVPART */
#navpart {
	background: url() repeat-x center top;
	height: 105px;
	width:100%;
	z-index: 0;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	clear: both;
	position: relative;
}
#navpart .sideleft {
	background: url(../images/style1/images/navpartbg.gif) no-repeat left bottom;
	float: left;
	height: 105px;
	width: 6px;
}
#navpart .sideright {
	background: url(../images/style1/images/navpartbg.gif) no-repeat right bottom;
	float: right;
	height:105px;
	width: 6px
}
/* NAVMENUBAR */
#navmenubar {
	height: 25px;
	float: left;
	display: inline;
	margin: 0 -6px;
	width: 100%;
	position: relative;
	z-index: 3;
	top:0
}
#hot {
	background: url(../images/style1/images/sign_hot.gif) no-repeat left top;
	height: 21px;
	width: 19px;
	position: absolute;
	top: -5px;
	right: 2px;
	z-index: 666
}
#navmenubar .sideleft {
	background: url(../images/style1/images/navmenubg.png) no-repeat left bottom;
	float: left;
	height: 25px;
	width: 12px;
	display: inline;
	margin: 0 0 0 8px
}
#navmenubar .sideright {
	background: url(..../images/style1/images/navmenubg.png) no-repeat right bottom;
	float: left;
	height: 25px;
	width: 12px;
	display: inline;
	margin: 0 4px 0 -2px
}
/*-- NAVMENU --*/
#navmenubar .navmenu {
	background: url(../images/style1/images/navmenubg.png) repeat-x center top;
	height: 25px;
	padding: 0;
	margin: 0;
	float: left;
	display: inline;
}
#navmenubar .navmenu li {
	float: left;
	white-space: nowrap;
	margin: 0px;
	padding: 0px;
	display: inline
}
#navmenubar .navmenu li a {
	background: url(../images/style1/images/navmenutabbg.png) no-repeat 0 0;
	width: 80px;
	padding: 6px 2px 5px 0;
	float: left;
	/*line-height: 25px;*/
	height: 14px;
	text-align: center
}
#navmenubar .navmenu li a:hover {
	background-position: 0 -25px;
	color: #003260;
	text-decoration: none;
	padding: 6px 2px 4px 0
}
#navmenubar .navmenu .current a, #navmenubar .navmenu .current a:hover {
	background: url(../images/style1/images/navmenutabbg.png) no-repeat 0 -50px;
	font-weight: 600;
	color: #FFF;
	font-size: 12px;
	padding:6px 2px 5px 0
}
#top #navpart .content {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 100%;
	height:auto;
}
.clear {
	clear: both;
	display: block;
	font: 0px/0 sans-serif;
	height: 0px;
	overflow: hidden;
}

/* --top²¿·Ö--*/
.top01{
	width:111px;
	height:58px;
	background:url(../images/style1/images/top01.gif) no-repeat;
	}
.top02{
	width:180px;
	height:58px;
	background:url(../images/style1/images/top_bg01.gif) repeat-x;
	line-height:58px;
	padding-top:2px;
	padding-left:6px;
	color:#FFF;font-size:24px;font-weight:bold; font-family:ºÚÌå;
	}
.top03{
	width:49px;
	height:58px;
	background:url(../images/style1/images/top02.gif) no-repeat;
	}
.top_right01{
	width:100%;
	height:21px;
	background:url(../images/style1/images/top_top01.gif) repeat-x;
	}
.top_right02{
	width:100%;
	height:37px;
	background:url(../images/style1/images/top_bottom01.gif) repeat-x;
	}
.top_right03 a {
	color:#FFF;
	text-decoration: none;
}
.top_right03 a:hover {
	color: #ff0000;
	text-decoration: none;
}
.nav_bg01{
	background:url(../images/style1/images/navmenubg.png)  repeat-x center top;
	}
.bottom_01{
	width:85px;
	height:27px;
	background:url(../images/style1/images/bottom01.gif)
}
.bottom_02{
	background:url(../images/style1/images/bottom_bg.gif) repeat-x;
	color:#FFF;
	font-size:12px;
}
.bottom_03{
	background:url(../images/style1/images/bottom02.gif) ;
	width:85px;
	height:27px;
}
	