<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Common">
	<select id="selectSequence" resultType="long"  parameterType="string">		
		<![CDATA[ select ${value}.nextval as id from dual ]]>
	</select>
	
	<select id="selectSequenceCurrval" resultType="long"  parameterType="string">		
		<![CDATA[ select ${value}.currval as id from dual ]]>
	</select>
</mapper>
