<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="taskContract">
	<resultMap id="taskContractOrgResultMap" type="TaskContractOrg">
		<result property="orderId" column="order_id" />
		<result property="orgId" column="org_id" />
		<result property="orgName" column="org_name" />
	</resultMap>
	
	<select id="selectTaskContractOrg" resultMap="taskContractOrgResultMap" parameterType="TaskContractQuery">
		<![CDATA[
			select a.order_id,
				a.org_id,
				b.tache_name as org_name
			from order_contract_org a
			left join task_tache b on a.org_id = b.tache_id
			where a.delete_state = 0
			and a.order_id = #{orderId,jdbcType=NUMERIC}
		]]>
	</select>
	
		<insert id="insertTaskContractOrg" parameterType="TaskContractOrg" useGeneratedKeys="true"
		keyProperty="id"> 
		<![CDATA[
		insert into order_contract_org(order_id,
						org_id,
						delete_state)
  					 values (#{orderId,jdbcType=NUMERIC},
  					 		 #{orgId,jdbcType=NUMERIC},
							 0)
		]]>
	</insert>
	
	<delete id="deleteTaskContractOrg" parameterType="TaskContractQuery">
		<![CDATA[
			update order_contract_org set delete_state = 1 where order_id = #{orderId,jdbcType=NUMERIC}
		]]>
	</delete>
</mapper>