<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RRProblemOrderMapper">

    <sql id="WHERE_SQL">
      <where>
          dor.`rr_problem_id` = problem.`id`
          and dor.del_flag = 0
          and dor.`DPCOI_ORDER_TYPE` = 3
          <if test="badContent != null and badContent != ''" >
              and problem.`bad_content` like CONCAT('%',#{badContent,jdbcType=VARCHAR},'%')
          </if>
          <if test="problemProgress != null and problemProgress != ''" >
              and problem.`problem_progress` = #{problemProgress,jdbcType=VARCHAR}
          </if>
          <if test="speedOfProgress != null and speedOfProgress != ''" >
              and problem.`speed_of_progress` = #{speedOfProgress,jdbcType=VARCHAR}
          </if>
      </where>
    </sql>

    <select id="selectRRProblemOrderListPage" parameterType="RRProblemOrderQuery" resultType="java.util.HashMap">
        SELECT dor.`DPCOI_ORDER_ID` as rrProblemOrderId,
        dor.`DPCOI_ORDER_STATE` as rrProblemOrderState,
        problem.`problem_status` as problemStatus,
        problem.`problem_no` as problemNo,
        problem.`problem_type` as problemType,
        problem.`engineering`,
        problem.`customer`,
        problem.`vehicle`,
        problem.product_no as productNo,
        problem.`bad_content` as badContent,
        problem.`severity`,
        problem.`product_line` as productLine,
        problem.`reason_for_delay` as reasonForDelay,
        problem.`Speed_of_progress` as speedOfProgress,
        problem.root_cause as rootCause,
        problem.permanent_game as permanentGame,
        (select dwo.`DPCOI_WO_ORDER_TYPE` from dpcoi_wo_order dwo
        where dwo.`DPCOI_ORDER_ID` = dor.`DPCOI_ORDER_ID`
        and dwo.`DPCOI_WO_ORDER_STATE` in (1, 2, 3)) as dpcoiWoOrderType
        from dpcoi_order dor, dpcoi_rr_problem problem
        <include refid="WHERE_SQL"></include>
        order by dor.`DPCOI_ORDER_ID` desc limit #{start},#{size}
    </select>

    <select id="selectRRProblemOrderCount" parameterType="RRProblemOrderQuery" resultType="java.lang.Integer">
        SELECT count(1)
        from dpcoi_order dor, dpcoi_rr_problem problem
        <include refid="WHERE_SQL"></include>
    </select>
</mapper>