<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="KirikaeOrderPartsNumberHistoryMapper" >
    <resultMap id="BaseResultMap" type="com.success.kirikae.order.domain.KirikaeOrderPartsNumber" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="old_parts_number" property="oldPartsNumber" jdbcType="VARCHAR" />
        <result column="new_patts_number" property="newPattsNumber" jdbcType="VARCHAR" />
        <result column="delete_state" property="deleteState" jdbcType="INTEGER" />
        <result column="create_by" property="createBy" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="INTEGER" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="order_id" property="orderId" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, old_parts_number, new_patts_number, delete_state, create_by, create_time, update_by,
        update_time, order_id
    </sql>

    <insert id="insertSelective" parameterType="com.success.kirikae.order.domain.KirikaeOrderPartsNumber" >
        insert into kirikae_order_parts_number_history
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="oldPartsNumber != null" >
                old_parts_number,
            </if>
            <if test="newPattsNumber != null" >
                new_patts_number,
            </if>
            <if test="deleteState != null" >
                delete_state,
            </if>
            <if test="createBy != null" >
                create_by,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateBy != null" >
                update_by,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="orderId != null" >
                order_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="oldPartsNumber != null" >
                #{oldPartsNumber,jdbcType=VARCHAR},
            </if>
            <if test="newPattsNumber != null" >
                #{newPattsNumber,jdbcType=VARCHAR},
            </if>
            <if test="deleteState != null" >
                #{deleteState,jdbcType=INTEGER},
            </if>
            <if test="createBy != null" >
                #{createBy,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null" >
                #{updateBy,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderId != null" >
                #{orderId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="selectKirikaeOrderPartsNumberHistoryListByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from kirikae_order_parts_number_history akopn
        where akopn.`delete_state` = 0
        and akopn.`order_id` = #{orderId,jdbcType=INTEGER}
    </select>

</mapper>