<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="taskWoOrderInfo">
	
	<insert id="insertTaskWoOrderInfo" parameterType="TaskWoOrderInfo" useGeneratedKeys="true" keyProperty="id"> 
		<![CDATA[
		insert into task_wo_order_info(wo_order_id,
						task_tache_info_id,
						wo_info_value,
						delete_state)
  					 values (#{woOrderId,jdbcType=NUMERIC},
  					 		 #{taskTacheInfoId,jdbcType=NUMERIC},
							 #{woInfoValue,jdbcType=VARCHAR},
							 0)
		]]>
	</insert>

	<update id="updateTaskWoOrderInfo" parameterType="TaskWoOrderInfo">
		update task_wo_order_info
		<set>
			<if test="woInfoValue != null">wo_info_value = #{woInfoValue,jdbcType=VARCHAR},</if>
		</set>
		where id=#{id, jdbcType=NUMERIC}
	</update>

	<select id="selectTaskWoOrderInfoListByOrderId" resultType="TaskWoOrderInfo" parameterType="java.lang.Integer">
		SELECT twoi.id, twoi.`WO_ORDER_ID` AS woOrderId
		FROM task_wo_order two, task_wo_order_info twoi
		WHERE two.`WO_ORDER_ID` = twoi.`WO_ORDER_ID`
		AND two.`ORDER_ID` = #{orderId, jdbcType=NUMERIC}
	</select>
</mapper>